
.calender-wrappper {
    max-width: 280px;
    font: 100% system-ui;
}

.calendar {
    margin: 500px;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
   /* grid-template-columns: auto auto auto auto auto auto auto;*/
}

.first-day {
    grid-column-start: 3;
}

.day-name {
    background: #eee;
}

h1 {
    text-align: center;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    padding: 2px;
}